body {
  margin: 0;
  box-sizing: border-box;
  /* padding: 0;  */
  /* background-repeat: repeat; */
  /* background-image:url("/assets/imgs/gameboy_screen.png"); */
 }

 .arrow {
  background:url("/assets/imgs/arrow.png");
  background-size: 100%;
  background-position: absolute;
  height: 5.1vh;
  width: 8vw;
  margin-left: 28vw;
  margin-top: 39vh;
  position: absolute;
  background-repeat: no-repeat;
  z-index: 9;
  animation: bounce 2s infinite;
}

 .light {
  position: fixed;
  height: 1vh;
  width: 1.6vw;
  margin-left: 15.8vw;
  margin-top: 37.5vh;
  box-shadow: #FFF2F9;
  background-repeat: no-repeat;
  background-size: 100%;
  outline: 2px solid red;
  background-color: #FFF2F9;
  z-index: 3;
  /* animation: bootup 4s ease-in; */
}

 .glow {
  background-image: url("/assets/imgs/gameboy_glow.png");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  /* background-position: top 8vh right 8vw; */
  width: 66.5vw;
  height: 56vh;
  margin-left: 20.3%;
  margin-top: 8vh;
  /* overflow: scroll; */
  /* overflow-x: hidden; */
  /* text-align: left; */
  position: absolute;
  /* padding: 2vh 2vw; */
  /* background-color: blue; */
  /* animation: screen_effect 5s ease, */
  animation: glow 3s infinite;
  z-index: 0;
  opacity: 1;
}

 .screenback {
   background-repeat: repeat;
   background-image: url("/assets/imgs/gameboy_screen.png");
   /* background-attachment: fixed;
   background-size: 90vw;
   /* background-position: top -9vh right -9vw; */
   /* width: 250px;
   height: 380px; */
   width: 66.5vw;
   height: 59.6vh;
   /* overflow: scroll; */
   /* overflow-x: hidden; */
   position: fixed;
   /* margin-left: 0vw;
   margin-top: 0vh; */
   z-index: -1;
   /* @include backlight(0, 5vw, 5vw, 0.75, #0fffc1, #7e0fff, 10s); */
   /* outline: #D73D93 solid red; */
   /* padding: 4vh 3vw; */
   /* background-color: blue; */
   /* animation: bootup 2s ease-in; */
 }



 .content {
  /* background-image:url("/assets/imgs/gameboy_glow.png"); */
  /* background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 1vw; */
  /* background-position: top -6vh right -9vw; */
  width: 67vw;
  height: 56vh;
  margin-left: 19.8vw;
  margin-top:7.8vh;
  overflow: scroll;
  overflow-x: hidden;
  position: absolute;
  /* padding: 2vh 2vw; */
  /* background-color: blue; */
}
 .container {
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  position: relative;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  /* outline: 5px; */
  /* background-color: #FFF2F9; */
  background-image: url("/assets/imgs/gameboy_frame_not_cropped.png");
}


.logo {
 margin-top: 13vh;
 /* margin-left: 15vw; */
 width: 80vw;
 height: 47vh;
 background-size: 67vw;
 background-repeat: no-repeat;
 background-image:url("/assets/imgs/eathan_logo_pixels.png")
}
/*.gameboy_frame {
   background-image:url("/assets/imgs/gameboy_frame_not_cropped.png");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 100vw 100vh;
   height: 100vh;
   overflow: hidden; */
/* } */
  
 h1 {
  color: #FFF2F9;
  text-shadow: 0 0 15px #D73D93;
  font-size: 2.6em;
  font-family: 'Press Start 2P', sans-serif;
  text-align: center;
  padding-top: 30%;
  padding-bottom: 15%;
}

h2 {
  color: #FFF2F9;
  text-shadow: 0 0 15px #D73D93;
  font-size: 1.0em;
  font-family: 'Press Start 2P', sans-serif;
  text-align: center;
}

h3 {
  color: #FFF2F9;
  text-shadow: 0 0 8px #D73D93;
  font-size: 1.4em;
  font-family: 'Press Start 2P', sans-serif;
  text-align: center;
}

h4 {
  color: #FFF2F9;
  text-shadow: 0 0 15px #D73D93;
  font-size: 1.4em;
  font-family: 'Press Start 2P', sans-serif;
  text-align: center;
  animation: glow 1s ease-in
}

p {
  color: #FFF2F9;
  text-shadow: 0 0 15px #D73D93;
  font-size: 0.9em;
  font-family: 'Press Start 2P', sans-serif;
  letter-spacing: 0.5px;
  text-align: center;
  line-height: 135%;
}

 .skills{
   margin-left: 2vw;
   width: 63vw;
   /* height: 5em; */
   display: flex;
   flex-flow: wrap;
   /* padding: 5px; */
   /* justify-content: flex-start; */
   /* justify-content: center; */
   justify-content: space-between;

}

.skills  img{
 width: 30%;
 height: 30%;
 margin-top: 2vh;
 /* box-shadow: 0 0 15px #D73D93; */
 /* background-color: #D73D93; */
}

.social{
 /* margin-left: 0vw; */
 width: 63vw;
 /* height: 5em; */
 display: flex;
 flex-flow: wrap;
 /* justify-content: flex-start; */
 /* justify-content: center; */
 justify-content: space-around;

}

.a  img{
width: 20%;
height: 20%;
/* box-shadow: 0 0 15px #D73D93; */
}

.formstyle { text-align: center;}
input, textarea {
 display: block;
 /* margin-block-end: 500px; */
 padding: 10px;
 margin: auto;
 border: 1px solid #D73D93;
 background-color: #FFF2F9;
 -webkit-box-shadow: 0px 0px 10px #D73D93;
    -moz-box-shadow: 0px 0px 10px #D73D93;
         box-shadow: 0px 0px 10px #D73D93;
}
}


  .contactme {
    /* width: 30%vw; */
    display: flex;
    flex-flow: column;
    justify-content: center;
    /* margin-left: 5%; */
    text-align: left;
  }
  
  #button {
    font-family: 'Press Start 2P', sans-serif;
    background-color: #FFF2F9;
    color: #D73D93;
    text-size: 25px;
    text-align: center;
    width: 30%;
    border: double;
    margin-top: 10%;
  }
  
  ::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
  }
  
  
  @keyframes screen_effect {
    0% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes glow {
    0%, 100% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
  }
  
  @keyframes bootup {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
  

/*----------------------------------------------------------------*/
@media only screen and (min-width: 600px) {
  body {
    margin: 0;
    background-color: black;
    /* background-repeat: repeat;
     /* background-image:url("/assets/imgs/gameboy_screen.png"); */
    */
  }
  
  .container {
    position: relative;
    height: 692px;
    width: 395px;
    margin: 0 auto;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
    /* outline: 5px; */
    /* background-color: #FFF2F9; */
    background-image: url("/assets/imgs/gameboy_frame_not_cropped.png");
  }
  
  .light {
    position: fixed;
    height: 9px;
    width: 9px;
    margin-left: 63px;
    margin-top: 259px;
    box-shadow: #FFF2F9;
    background-repeat: no-repeat;
    background-size: 100%;
    outline: 2px solid red;
    background-color: #FFF2F9;
    z-index: 3;
    animation: bootup 4s ease-in;
  }
  
  .content {
    /* background-image: url("/assets/imgs/gameboy_glow.png"); */    /* background-attachment: fixed;
    background-size: 90vw;
    /* background-position: top -9vh right -9vw; */
    /* width: 250px;
    height: 380px; */
    width: 260px;
    height: 390px;
    margin-left: 83px;
    margin-top: 55px;
    overflow: scroll;
    overflow-x: hidden;
    text-align: left;
    position: absolute;
    /* @include backlight(0, 5vw, 5vw, 0.75, #0fffc1, #7e0fff, 10s); */
    /* outline: #D73D93 solid red; */
    /* padding: 4vh 3vw; */
    /* background-color: blue; */
    /* animation: bootup 2s ease-in; */
  }
  
  .screenback {
    background-repeat: no-repeat;
    background-image: url("/assets/imgs/gameboy_screen.png");
    /* background-attachment: fixed;
    background-size: 90vw;
    /* background-position: top -9vh right -9vw; */
    /* width: 250px;
    height: 380px; */
    width: 261px;
    height: 389px;
    margin-left:-3px;
    overflow: scroll;
    overflow-x: hidden;
    position: fixed;
    z-index: -1;
    /* @include backlight(0, 5vw, 5vw, 0.75, #0fffc1, #7e0fff, 10s); */
    /* outline: #D73D93 solid red; */
    /* padding: 4vh 3vw; */
    /* background-color: blue; */
    /* animation: bootup 2s ease-in; */
  }
  
  .glow {
    background-image: url("/assets/imgs/gameboy_glow.png");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: 265px;
    /* background-position: top 8vh right 8vw; */
    width: 267px;
    height: 389px;
    margin-left: 77px;
    margin-top: 14%;
    /* overflow: scroll; */
    /* overflow-x: hidden; */
    /* text-align: left; */
    position: absolute;
    /* padding: 2vh 2vw; */
    /* background-color: blue; */
    /* animation: screen_effect 5s ease, */
    animation: glow 3s infinite;
    z-index: 0;
    opacity: 1;
  }
  
  .logo {
    margin-top: 110px;
    margin-left: -6px;
    width: 260px;
    height: 170px;
    padding-bottom: 5%;
    background-size: 265px;
    background-repeat: no-repeat;
    background-image: url("/assets/imgs/eathan_logo_pixels.png")
  }
  
  /* .container {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    background-repeat: repeat;
    background-image: url("/assets/imgs/gameboy_screen.png");
  } */
  
  .gameboy_frame {
    /*background-image: url("/assets/imgs/gameboy_frame_not_cropped.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 55.3vh;
    height: 100%;
    background-position: top -7vh right -9vw;
    background-position-x: -15vw;
    overflow: hidden;*/
  }
  
  h1 {
    color: #FFF2F9;
    text-shadow: 0 0 15px #D73D93;
    font-size: 2.6em;
    font-family: 'Press Start 2P', sans-serif;
    text-align: center;
  }
  
  h2 {
    color: #FFF2F9;
    text-shadow: 0 0 15px #D73D93;
    font-size: 1.0em;
    font-family: 'Press Start 2P', sans-serif;
    text-align: center;
  }
  
  h3 {
    color: #FFF2F9;
    text-shadow: 0 0 8px #D73D93;
    font-size: 1.4em;
    font-family: 'Press Start 2P', sans-serif;
    text-align: center;
    animation: glow 1s ease-in
  }
  
  h4 {
    color: #FFF2F9;
    text-shadow: 0 0 15px #D73D93;
    font-size: 1.4em;
    font-family: 'Press Start 2P', sans-serif;
    text-align: center;
  }

  p {
    color: #FFF2F9;
    text-shadow: 0 0 15px #D73D93;
    font-size: 0.9em;
    font-family: 'Press Start 2P', sans-serif;
    letter-spacing: 0.5px;
    text-align: center;
    line-height: 135%;
  }
  
  .skills {
    /* margin-left: 0vw;  */
    width: 240px;
    height: 70px;
    display: flex;
    flex-flow: wrap;
    padding: 5px;
    justify-content: flex-start;
    justify-content: center;
    justify-content: space-between;
  }
  
  .skills img {
    width: 30%;
    height: 100%;
    margin-top: 0px;
    /* box-shadow: 0 0 15px #D73D93; */
    /* background-color: #D73D93; */
  }
  
  .social {
    /* margin-left: 0vw; */
    width: 250px;
    /* height: 5em; */
    display: flex;
    flex-flow: wrap;
    /* justify-content: flex-start; */
    /* justify-content: center; */
    justify-content: space-around;
  }
  
  .a img {
    width: 20%;
    height: 20%;
    /* box-shadow: 0 0 15px #D73D93; */
  }
  
  .formstyle {
    text-align: center;
  }
  
  input, textarea {
    display: block;
    /* margin-block-end: 500px; */
    padding: 10px;
    margin: auto;
    border: 1px solid #D73D93;
    background-color: #FFF2F9;
    -webkit-box-shadow: 0px 0px 10px #D73D93;
    -moz-box-shadow: 0px 0px 10px #D73D93;
    box-shadow: 0px 0px 10px #D73D93;
  }
}

@media only screen and (min-width: 600px) {

  
  